# Dependencies
node_modules/

# Build output
dist/
build/
release/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
*.swp
*.swo
/screenshot/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Coverage
coverage/

# Cache
.cache/
.eslintcache
